body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#foodProductPanel{
    padding-top:10px;
}

#foodProductPanel .food-product, #recipesPanel .recipe{
    margin-top: 10px;
    margin-bottom:10px;
}

.food-product, .recipe{
    border: 1px solid black;
    padding: 5px;
    height:135px;
    overflow:hidden;
}

.border-gray{
    border-color:#9c9c9c;
}

.food-product .prod-info, .recipe .recipe-info a, .recipe .recipe-info{
    height:89px;
    font-size:15px;
    font-weight:bold;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
} 

.recipe{
    cursor: pointer;
}

.recipe .recipe-info a{
    text-decoration:underline;
}

.mypanel-title{
    font-size: 16px;
    font-weight:bold;
}

.mypanel-title-container{
    padding-top:5px;
    padding-bottom:5px;
}

.clear-both{
    clear: both;
}

/* Стили для контрола поиска */
#custom-search-input{
    padding: 3px;
    border-style: solid;
    border-width:1px;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.fridge-item-status-panel{
    margin-bottom:3px;
}

.prod-info-title-and-date{
    height: 63px;
}

.fridge-item-status-panel img{
    height:22px;
    width:22px;
    background:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    box-shadow: none;
}

.alert-border{
    border: 1px solid red;
}

.my-popover{
    color:black;
    background:linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.95));
    width: 400px;
}